<div class="grid">
  <!-- Feed panel -->
  <div>

    <nav>
      <ul>
        <header>
          <hgroup>
            <h1>Login</h1>
          </hgroup>
        </header>
      </ul> 
    </nav>
    <!--Feed-->
    <div>
      <div x-data="formPostback({
        feed: $store.feedFilters.current,
        fields: [
          {
            name: 'Username',
            type: 'input',
            placeholder: 'Username',
            label: 'Username',
            autocomplete: null,
            ariaInvalid: true,
            helper: 'error'
          },
          {
            name: 'Password',
            type: 'password',
            placeholder: 'Password',
            label: 'Password',
            autocomplete: null
          }
        ]
      })"></div>
    </div>
  </div>
  <!-- Other panel -->
  <div>

  </div>
</div>
