
<!-- Feed panel -->

<div x-data="{
  item: $store.content.items[0],
  items: $store.content.replies,
  init() {
      this.$events.on('action-reply', (item) => {
        self.selectedId = item.id;
      })
      this.$events.on('action-close', (item) => {
        self.selected = null;
      })
      this.$events.on('action-like', (item) => {
        this.$store.content.likePost(item)
      })
      this.$events.on('action-agree', (item) => {
        this.$store.content.agreePost(item)
      })
      this.$events.on('action-disagree', (item) => {
        this.$store.content.disagreePost(item)
      })
    }
  }">
  <nav>
    <ul>
      <li>
        <i aria-label="Agree" @click="back" class="icon material-icons icon-click" rel="prev">chevron_left</i>
      </li>
    </ul>
  </nav>

  <!-- Original post -->
  <div x-data="appCardPost({
    item,
    expandable: false,
  })"></div>

  <!--Feed-->
  <div x-data="appNavFilters({})"></div>
  
  <!-- Response Form -->
  <article>
    <div x-data="appFormResponse({
      postbackUrl: 'https://localhost:7220/api/contentpost',
      postbackType: 'POST',
      event: 'post:created',
      fieldPlaceholder: 'Write a reply',
      label: 'Reply'
    })"></div>
  </article>
  
  <!--Responses-->
  <main x-transition>
    <div x-data="appListReplies({
      sourceUrl: 'https://localhost:7220/api/contentpost',
      threadUrl: 'https://localhost:7220/content/thread',
      event: 'post:created',
      items: items,
    })"
    x-init="await fetchItems()"></div>
    </main>
</div>

<!-- Modals -->
<!-- Edit post -->
<div x-data="modalForm({target: 'modal-edit-post', title: 'Edit post', text: 'test 123'  })"></div>

<!-- Delete post -->
<div x-data="modal({target: 'modal-remove-post', title: 'Remove post', text: 'test 123' })"></div>

<!-- Share post -->
<div x-data="modal({target: 'modal-share-post', title: 'Share post', text: 'test 123'  })"></div>
