<header>
  <hgroup>
    <h1 >Feeds</h1>
  </hgroup>
</header>

<div x-data>
  <template x-for="tab in $store.feedtabs.items" >
    <button @click="$store.feedtabs.setTab(tab)" x-text="tab"></button>
  </template>
    <main x-transition x-show="'AI updates' == $store.feedtabs.current">
      <div x-ref="ai" x-data="html('ai', `views/shared/feed.html`)"></div>
    </main>
    <main x-transition x-show="'Receipes' == $store.feedtabs.current">
      <div x-ref="receipes" x-data="html('receipes', `views/shared/header.html`)"></div>
    </main>
    <main x-transition x-show="'history' == $store.feedtabs.current">
      <div x-ref="history" x-data="html('history',  `views/shared/header.html`)"></div>
    </main>
    <main x-transition x-show="'election' == $store.feedtabs.current">
      <div x-ref="election" x-data="html('election',  `views/shared/header.html`)"></div>
    </main>
    <main x-transition x-show="'movies' == $store.feedtabs.current">
      <div x-ref="movies" x-data="html('movies',  `views/shared/header.html`)"></div>
    </main>
  </div>  